name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Runs a single command using the runners shell
      - name: Run Hellow world
        run: |
          python hello_world.py
          tar cvf win-luna.py hello_world.py
      - uses: actions/upload-artifact@v2
        with:
          name: win-luna.zip
          path: hello_world.py
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: win-luna.zip
      - uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Win_Release ${{ github.ref }}
          draft: false
          prerelease: false
      - run: |
          ls -lrt
          tar cvf win-luna.zip hello_world.py
      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: win-luna.zip
          asset_name: win-luna.zip
          asset_content_type: application/zip
